/* * {
  border: red solid 1px;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CLOCK */

.clock {
  display: flex;
  justify-content: center;

  margin: 10px;
  overflow: hidden;
  width: 98%;

  background-color: #080808;
  color: white;
}

.in {
  width: 60px;
  padding: 7px 0;
  text-align: center;
  margin: 10px 5px;
  border-radius: 10px;

  font-size: 60px;
  font-family: emoji;
  font-weight: bold;
  background-color: #121212;
  border: #2b2b2b 3px solid;
  
}

.in p {
  margin: 0;
}

.clockIcon {
  width: 80px;
  display: flex;
  justify-content: center;
}
.clockIcon svg {
  font-size: 49px;
  margin-bottom: 2px;
}

/* INPUTS */
.cuentaRegresiva,
.alertClock {
  display: flex;
}

.cuentaRegresiva {
  justify-content: end;
}

.input-group {
  width: 230px;
}

/* BUTTONS */

.buttons {
  display: flex;
  justify-content: center;

  padding-top: 1px;
}
.buttons button {
  margin: 0 3px;
  height: 37px;
  width: 37px;
}

.buttons button:nth-child(3) svg {
  margin-left: -2.5px;
}
